<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>

<body><center>
	<h1>Notre contact:</h1>
	 <p>nom : safidy</p>
	 <p>tel : +2610349543592</p>
	 <p><em>email : safidypatrick8@gmail.com</em></p>
	 </center>
</body>
</html>